<!DOCTYPE html>
<html lang="en">

{% extends 'home/base.html' %}
{% block content %}
{% include 'home/navbar.html' %}

{% load static %}


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title>Hello</title>
</head>
<body>

<div class="container">
  <form method="POST">{% csrf_token %}

    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 form-control-label">Nama Mata Kuliah</label>
      <div class="col-sm-10">
        {{ Form.nama_matkul }}
      </div>
    </div>
    
    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 form-control-label">Nama Dosen</label>
      <div class="col-sm-10">
        {{ Form.dosen }}
      </div>
    </div>

    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 form-control-label">Jumlah SKS</label>
      <div class="col-sm-10">
        {{ Form.sks }}
      </div>
    </div>

    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 form-control-label">Deskripsi</label>
      <div class="col-sm-10">
        {{ Form.deskripsi }}
      </div>
    </div>

    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 form-control-label">Semester</label>
      <div class="col-sm-10">
        {{ Form.semester }}
      </div>
    </div>

    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 form-control-label">Kelas</label>
      <div class="col-sm-10">
        {{ Form.kelas }}
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit">Submit</button>
      </div>
    </div>
    
  </form>
</div>


{% endblock content %}

</body>
</html>

