<!DOCTYPE html>
<html lang="en">

{% extends 'home/base.html' %}
{% block content %}
{% include 'home/navbar.html' %}

{% load static %}


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title>Matkul Keren</title>
</head>
<body>

    {% comment %} <div class="container my-4">
  {% if messages %}
	{% for message in messages %}
		<div class="alert alert-warning alert-dismissible fade show mt-4" role="alert">
			{{ message }}
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	{% endfor %}
	{% endif %} {% endcomment %}



  {% comment %} {% for matkul in matkuls %} 
    <div class="card mt-3">
      <div class="card-body d-flex justify-content-between flex-column flex-md-row">
          <div>
              <a href="{% url 'detail' matkul.id %}"><h5 class="card-title">{{ matkul.nama_matkul }}</h5></a>
              <h6 class="card-subtitle mb-2 text-muted">{{ matkul.semester }} {{ matkul.dosen }}</h6>
          </div>
          <a href="{% url 'delete' matkul.id %}" class="card-link text-danger mt-3 mt-md-0 mr-md-4 align-self-center">DELETE</a>
      </div>
    </div>
  {% endfor %}
  {% endcomment %}

  {% comment %} {% for matkul in matkuls %}
    {{ matkul.nama_matkul }} <br>
  {% endfor%} {% endcomment %}

  {% comment %} {% for matkul in matkuls %} 
    <div class="card mt-3">
      <div class="card-body d-flex justify-content-between flex-column flex-md-row">
          <div>
              <a href="{% url 'detail' matkul.id %}"><h5 class="card-title">{{ matkul.nama_matkul }}</h5></a>
              <h6 class="card-subtitle mb-2 text-muted">{{ matkul.semester }} {{ matkul.dosen }}</h6>
          </div>
          <a href="{% url 'delete' matkul.id %}" class="card-link text-danger mt-3 mt-md-0 mr-md-4 align-self-center">DELETE</a>
      </div>
    </div>
  {% endfor %} {% endcomment %}

{% for matkul in matkuls %}
  <div class="card">
  <div class="card-block">
    <h4 class="card-title">{{ matkul.nama_matkul }}</h4>
    <h6 class="card-subtitle mb-2 text-muted">{{ matkul.semester }}</h6>
    <p class="card-text">
      {{ matkul.deskripsi }}
    </p>
    <a href="{% url 'home:detail' matkul.id %}" class="card-link">DETAIL</a>
    <a href="{% url 'home:delete' matkul.id %}" class="card-link">DELETE</a>
  </div>
</div>
{% endfor matkul in matkuls %} 

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}


{% endblock content %}



</body>
</html>

