
{% extends 'home/base.html' %}
{% block content %}
{% include 'home/navbar.html' %}
<div class="container my-4">
    <div class="jumbotron">
        <h1 class="display-4">{{ matkul.nama_matkul }}</h1>
        <p class="lead">{{ matkul.semester }}</p>
        <p>{{ matkul.deskripsi }}</p>
        <hr class="my-4">
        <div class="row">
            <h4 class="col-10 col-md-auto">Ruang : <span class="badge badge-light">{{ matkul.kelas }}</span></h4>
            <h4 class="col-10 col-md-auto">Dosen : <span class="badge badge-light">{{ matkul.dosen }}</span></h4>
            <h4 class="col-10 col-md-auto">Jumlah SKS : <span class="badge badge-light">{{ matkul.sks }} SKS</span></h4>
        </div>
        <a class="btn btn-outline-dark mt-4" href="{% url 'home:index' %}" role="button">BACK</a>
    </div>
</div>
{% endblock content %}


{% comment %} {% extends 'home/base.html' %}

{% block content %}
    <div class="matkul">
        {% if matkul.published_date %}
            <div class="date">
                {{ matkul.published_date }}
            </div>
        {% endif %}
        {% if user.is_authenticated %}
     <a class="btn btn-default" href="{% url 'matkul_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
{% endif %}
        <h2>{{ matkul.title }}</h2>
        <p>{{ matkul.text|linebreaksbr }}</p>
    </div>
{% endblock %} {% endcomment %}
